
@include media-query('desk'){
  .sidebar {
    padding-top: 0.8em;
  }
  #main-logo .brand {
    background-position: bottom left;
  }    
}

@include media-query('portable') {
  nav .nav {
    text-align: center;
  }
  #main-logo .brand{
    background-position: top center;
  }

  #header_area {
    margin-bottom: 2em;
  }
}

@include media-query('palm') {
  .page {
    padding-left: 1em;
    padding-right: 1em;
  }
  .sidebar aside {
    text-align: center;
  }
  .entry-title {
    font-size: 1.8rem;
  }

  #main_navigation {
    margin-top: 15px;
    li {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      a {
        width: 100%;
      }
    }
  }
}
